@charset "utf-8";

*{
  margin:0;
  padding:0;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
html, body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-color: antiquewhite;
  overflow-y: scroll;
}
#root{
  height:auto;
}
#App{
  width:1200px;
  height:auto;
  background-color: aqua;
  margin:0 auto;
}
#App>#header{
  float:left;
  width:10%;
  /* height:1900px; */
  height:auto;
  background-color: chartreuse;
}
#App>#main{
  float:left;
  width:90%;
  /* height:1900px; */
  height:auto;
  background-color: aquamarine;

  position: relative;
}

#top{
  position: absolute;
  right: calc( (100% - 1200px) / 2 - 20px);
  bottom:50px;
}
